<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/76824c6f78.js"></script>
    <style>
        body {
            background-image: url(Content/Background.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .table {
            background: white;
        }

        .navbar {
            background: blue;
            top: 0px;
            position: fixed;
            width: 100%;
            
        }
        a:hover {
            color: black;
        }

        a:visited {
            color: purple;
        }
        .navbar-brand{
            color: black;
        }
        #login{
            right: 0;
            position: fixed;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">Music Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Customers", "Index", "Customer")
                </li>
                @*<li class="nav-item nav-link">
                    @Html.ActionLink("Customer Display", "Display", "Customer")
                </li>*@
                <li class="nav-item nav-link">
                    @Html.ActionLink("Instruments", "Index", "Instrument")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Orders", "Index", "Order")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Order Details", "Index", "OrderDetail")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Store Details", "Index", "StoreDetail")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Contact Us", "Contact", "Home")
                </li>
                <li id="login" class="nav-item nav-link">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
